ExifRead
Pillow
PyMuPDF
SQLAlchemy
beautifulsoup4
flask
flask-cors
numpy
pandas
python-docx
python-pptx
striprtf
beautifulsoup4
openpyxl
sqlalchemy
exifread
keras
tensorflow
gunicorn
psycopg2